.App {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

.App-debug {
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 0.25em;
}

.App > .BackgroundEmpty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.App > .Camera {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.App > .Masking {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.App > .Flash {
  z-index: 2;
}

.App > .ButtonCapture {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.App-controls {
  position: relative;
  z-index: 4;
}

.ReactModal__Overlay {
  z-index: 10;
}

.ReactModal__Content {
  margin: 0;
  padding: 0;
}

.App-captured {
  object-fit: contain;
}
