@keyframes Flash-capture {
  from {
    background-color: white;
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.Flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
}

.Flash--capture {
  animation-name: Flash-capture;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}
