.Masking {
  user-select: none;
  pointer-events: none;
}

.Masking::before,
.Masking::after {
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

.Masking::before {
  top: 0;
  left: 0;
}

.Masking::after {
  bottom: 0;
  right: 0;
}

@media screen and (orientation: landscape) {
  .Masking::before,
  .Masking::after {
    width: calc((100vw - 100vh) / 2);
    height: 100vh;
  }
}

@media screen and (orientation: portrait) {
  .Masking::before,
  .Masking::after {
    height: calc((100vh - 100vw) / 2);
    width: 100vw;
  }
}
